.subject {
    color: rgb(151, 151, 151);
    font-size: 2rem;
    font-weight: 500;
}

.question {
    font-size: 2rem;
    font-weight: 500;
    word-break: break-word;
    word-wrap: break-word;
}

.commentTextbox {
    width: 70%!important;
}