.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.527);
    display: flex;
    align-items: center;
    justify-content: center;
}