.title {
    font-size: 1.5rem;
    font-weight: 500;
}

.grayTitle {
    color: rgb(151, 151, 151);
    font-size: 1.2rem;
}

.showQuestions {
    color: #6700ad;
    cursor: pointer;
}

.showQuestions:hover {
    text-decoration: underline;
    color: #6700ad;
}