.title {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 0.7rem;
    vertical-align: top;
}

.titleIcon {
    font-size: 3rem;
    color: #6700ad;
}

.plusIconContainer {
    background-color: white;
    padding-left: 3px;
    padding-top: 3px;
    position: absolute;
    left: 43px;
    top: 35px;
}

.plusIcon {
    color: #6700ad;
    font-size: 1.2rem;
}