.userIcon {
    font-size: 5rem;
    color: #6700ad;
}

.grayText {
    color: rgb(151, 151, 151);
    font-size: 1.4rem;
}

.userText {
    font-size: 1.3rem;
    font-weight: bold;
}

.borderTopBottom {
    border-top: 3px solid #6700ad;
    border-bottom: 3px solid #6700ad;
    padding-top: 2rem;
    padding-bottom: 3rem;
    height: 100%;
}

.borderFull {
    border: 3px solid #6700ad;
    padding: 1rem 0 3rem 1rem;
    height: 100%;
    cursor: pointer;
}

.skillsIcon {
    color: #6700ad;
    font-size: 5rem;
}

.titleIcon {
    font-size: 5rem;
    color: #6700ad;
    position: relative;
    left: 15px;
}

.plusIcon {
    background-color: white;
    padding-left: 5px;
    padding-top: 5px;
    position: relative;
    right: 10px;
    top: 20px;
    color: #6700ad;
    font-size: 2rem;
}

@media (max-width: 500px){
    .borderTopBottom {
        padding-top: 1rem;
        padding-bottom: 1.5rem;
    }
    
    .borderFull {
        padding-top: 1rem;
        padding-bottom: 1.5rem;
    }
}