html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

.centered {
  height: 80%;
}

.background {
  height: 100%;
}

.btn-orange {
  color: #fff!important;
  background-color: orange!important;
  border-color: orange!important;
}

.btn-orange:hover {
  color: #fff!important;
  background-color: rgb(219, 143, 0)!important;
  border-color: rgb(219, 143, 0)!important;
}

.btn-orange:focus, .btn-orange.focus {
  color: #fff;
  background-color: rgb(219, 143, 0)!important;
  border-color: rgb(219, 143, 0)!important;
  box-shadow: 0 0 0 0.2rem rgb(219, 143, 0)!important;
}

.carousel-inner{height:100%;}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none!important;
}

.carousel-control-prev{
  background-image: url('../assets/atras.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10rem 5rem;
  filter: invert(13%) sepia(89%) saturate(5856%) hue-rotate(277deg) brightness(68%) contrast(116%);
}

.carousel-control-next {
  background-image: url('../assets/proximo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10rem 5rem;
  filter: invert(13%) sepia(89%) saturate(5856%) hue-rotate(277deg) brightness(68%) contrast(116%);
}

@media (max-width: 500px){
  .paddingBottom {
      padding-bottom: 6rem;
  }

  .carousel-control-prev{
    background-size: 10rem 3rem;
  }
  
  .carousel-control-next {
    background-size: 10rem 3rem;
  }

}

.MuiDataGrid-colCell { 
  background-color: #6700ad;
  color: white;
}