.titleIcon {
    font-size: 5rem;
    color: #6700ad;
    position: relative;
    left: 15px;
}

.plusIcon {
    background-color: white;
    padding-left: 5px;
    padding-top: 5px;
    position: relative;
    right: 10px;
    top: 18px;
    color: #6700ad;
    font-size: 2rem;
}

.name {
    font-weight: bold;
    font-size: 1.2rem;
}

.date {
    color: #9E9E9E;
    text-transform: capitalize;
}

.shadowHover {
    cursor: pointer;
    transition: 0.4s;
    height: 100%;
    padding: 1rem;
}

.shadowHover:hover {
    border: 1px solid #9e9e9e79;
    box-shadow: 0 0.4rem 0.3rem #9E9E9E;
    transform: scale(1.03);
}

.hiddenButton {
    opacity: 0;
    transition: 0.4s;
    text-align: right;
}

.shadowHover:hover .hiddenButton {
    opacity: 1;
}