.continueButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.continueButton:disabled {
    background-color: gray!important;
    border-color: gray!important;
}

.backButton {
    position: fixed;
    bottom: 30px;
    left: 30px;
}